
<div class="container">
  <div class="row justify-content-center" style="margin-top: 9vh">
    <h1 class="name">Disk scheduling simulation</h1>
  </div>
  <div class="row justify-content-center margin-row">
    <div class="col-md-4">
      <a routerLink="/UserInput">
        <div class="phaseButton" id="phase1">
          <h5 class="button-text">User Input</h5>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a routerLink="/RandomInput">
        <div class="phaseButton" id="phase2">
          <h5 class="button-text">Random Input</h5>

        </div>
      </a>
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top: 13vh;">
    <h5 class="name">Mohammad Ashourloo & Majid Ramezankhani</h5>
  </div>
  <div class="row justify-content-center" style="margin-top: 1vh;">
    <h6 class="name">K.N.Toosi University Of Technology</h6>
  </div>
</div>

